# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [201]:
# Dependencies and Setup
import pandas as pd
pd.DataFrame({'name' : [1,2,3,4]})
   name
0     1
1     2
2     3
3     4
>>> pd.DataFrame({'name' : [[1,2,3,4]]})
           name
0  [1, 2, 3, 4]
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
student_data

# school_data_complete.count()

IndentationError: unexpected indent (1390702539.py, line 4)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [196]:
# Create a District Summary
Dist_Sum = pd.DataFrame({'Total Number of Schools': [total_schools],
                       'Total Students': [total_students],
                       'Total Budget': [total_budget],
                       'Average Math Score': [avg_math_score],
                       'Average Reading Score': [avg_read_score],
                       'Overall Average Score': [avg_ovr_score],
                       'Percent Passing Math': [pass_math_perc],
                       'Percent Passing Reading':[pass_read_perc]})

Dist_Sum.style.format({"Total Budget": "${:,d}"})

In [55]:
# Total number of schools
total_schools = school_data_complete.school_name.nunique()
total_schools

15

In [18]:
# Total number of students
total_students = school_data_complete['Student ID'].count()
total_students

39170

In [21]:
# Total budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [28]:
# Average math score

avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [29]:
# Average reading score

avg_read_score = school_data_complete['reading_score'].mean()
avg_read_score

81.87784018381414

In [150]:
# Overall average score

avg_ovr_score = avg_read_score + avg_math_score
avg_ovr_score

160.86321164156243

In [41]:
# Percentage of passing math (70 or greater)
pass_math_perc = (school_data_complete['math_score']>=70).sum()/total_students
print(pass_math_perc)

pass_read_perc = (school_data_complete['reading_score']>=70).sum()/total_students
print(pass_read_perc)

0.749808526933878
0.8580546336482001

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [229]:
#  Sort and display the top five schools in overall passing rate
topfive = indi_sch.sort_values('Overall Passing Rate', ascending = False)

topfive.head(5)

,Type of School,Student Count,Budget of School,Budget Per Student,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [222]:
# Calculate total school budget
individual_budg = school_data_complete.groupby(['school_name'])['budget'].mean()
individual_budg

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [187]:
# Calculate per student budget
per_stu_budg = individual_budg/students_per_sch

per_stu_budg

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [186]:
# Cacluate the avg math and reading score

avgmath_per_sch = school_data_complete.groupby(['school_name'])['math_score'].mean()
avgread_per_sch = school_data_complete.groupby(['school_name'])['reading_score'].mean()

#### Find the passing rate for math and reading (above 70 points)

In [152]:
# Find the total counts of math result
counts_math = school_data_complete.groupby(['school_name'])['math_score'].count()

# Find the counts for math result in each school that pass 70 or higher
pass_math = school_data_complete[(school_data_complete['math_score']>=70)]
pass_math2 = pass_math.groupby(['school_name'])['math_score'].count()
# Calculate the math passing rate
pass_mathcount = pass_math2/counts_math*100
pass_mathcount

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [189]:
# Find the total counts of read result
counts_read = school_data_complete.groupby(['school_name'])['reading_score'].count()
# Find the counts for read result in each school that pass 70 or higher
pass_read = school_data_complete[(school_data_complete['reading_score']>=70)]
pass_read2 = pass_read.groupby(['school_name'])['reading_score'].count()
# Calculate the read passing rate
pass_readcount = pass_read2/counts_read*100
pass_readcount

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: reading_score, dtype: float64

In [190]:
# Calculate the overall passing rate (average of the math and reading passing rate)

ovrpass_rate = (pass_readcount+pass_mathcount)/2
ovrpass_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [223]:

school_types = school_data.set_index(['school_name'])['type']

In [192]:
students_per_sch = student_data['school_name'].value_counts()
students_per_sch

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [224]:
indi_sch=pd.DataFrame({'Type of School': school_types,
                       'Student Count': students_per_sch,
                       'Budget of School': individual_budg,
                       'Budget Per Student': per_stu_budg,
                       'Average Math Score': avgmath_per_sch,
                       'Average Reading Score': avgread_per_sch,
                       'Math Passing Rate': pass_mathcount,
                       'Reading Passing Rate': pass_readcount,
                       'Overall Passing Rate': ovrpass_rate }) 
indi_sch

,Type of School,Student Count,Budget of School,Budget Per Student,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [232]:
#  Sort and display the worst five schools in overall passing rate
lowfive = indi_sch.sort_values('Overall Passing Rate', ascending = True)
lowfive.head(5)

,Type of School,Student Count,Budget of School,Budget Per Student,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [250]:
# Create table that lists the average math score for each school of each grade level
math_by_grade = pd.DataFrame({'9th': freshmen, 
                            '10th': sophomore, 
                             '11th': junior, 
                            '12th': senior})
math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  80.907183  77.515588  76.492218
Cabrera High School    83.094697  84.253219  82.765560  83.277487
Figueroa High School   76.403037  81.408912  76.884344  77.151369
Ford High School       77.361345  81.262712  76.918058  76.179963
Griffin High School    82.044010  83.706897  83.842105  83.356164
Hernandez High School  77.438495  80.660147  77.136029  77.186567
Holden High School     83.787402  83.324561  85.000000  82.855422
Huang High School      77.027251  81.512386  76.446602  77.225641
Johnson High School    77.187857  80.773431  77.491653  76.863248
Pena High School       83.625455  83.612000  84.328125  84.121547
Rodriguez High School  76.859966  80.629808  76.395626  77.690748
Shelton High School    83.420755  83.441964  83.383495  83.778976
Thomas High School     83.590022  84.254157  83.498795  83.497041
Wilson High School     83.085578  84.021452  83.195326  83.035794
Wright High School     83.264706  83.812757  83.836782  83.644986

In [241]:
# Calculate the average math score for 9th grade in each school
freshmen = student_data.loc[student_data['grade']== '9th'].groupby(['school_name'])['math_score'].mean()
freshmen

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [239]:
# Calculate the average math score for 10th grade in each school
sophomore = student_data.loc[student_data['grade']=='10th'].groupby(['school_name'])['reading_score'].mean()
sophomore

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [244]:
# Calculate the average math score for 11th grade in each school
junior = student_data.loc[student_data['grade']== '11th'].groupby(['school_name'])['math_score'].mean()
junior

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [246]:
# Calculate the average math score for 12th grade in each school
senior = student_data.loc[student_data['grade'] == '12th'].groupby(['school_name'])['math_score'].mean()
senior

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [259]:
# Create table that lists the average reading score for each school of each grade level.
read_by_grade = pd.DataFrame({'9th': freshmen1,
                             '10th': sophomore1,
                             '11th': junior1,
                             '12th': senior1})
read_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [257]:
# Calculate the average reading score for 9th grade in each school

freshmen1 = student_data.loc[student_data['grade']=='9th'].groupby(['school_name'])['reading_score'].mean()
freshmen1

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [254]:
# Calculate the average reading score for 10th grade in each school
sophomore1 = student_data.loc[student_data['grade']=='10th'].groupby(['school_name'])['reading_score'].mean()
sophomore1

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [255]:
# Calculate the average reading score for 11th grade in each school
junior1 = student_data.loc[student_data['grade']=='11th'].groupby(['school_name'])['reading_score'].mean()
junior1

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [256]:
# Calculate the average reading score for 12th grade in each school
senior1 = student_data.loc[student_data['grade']=='12th'].groupby(['school_name'])['reading_score'].mean()
senior1

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate